/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
/* Fonts */
@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat.ttf);
    font-display: swap;
}
/* Variables */
:root {
    font-size: 62.5%;
    --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-main: "Montserrat", var(--font-stack);
    --opacity-layer: linear-gradient(#00000033, #00000033);
}

:root.light {
    --body-image: url("./assets/images/background.webp");
    --background: #E9E5DD;
    --box-shadow: 2px 2px 10px 1px #00000033;
}

:root.dark {
    --body-image: url("./assets/images/background-dark.webp");
    --background: #161616;
    --box-shadow: 2px 2px 10px 1px #00000066;
}
/* Layout */
body {
    height: 100svh;
    background: var(--opacity-layer),
                var(--body-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    font-family: var(--font-main);
    display: grid;
    align-items: center;
}

.app-container {
    height: 700px;
    width: 75%;
    margin: 0 auto;
    background: var(--background);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}
/* Header */
header {
    border-right: 1px solid red;
}
