/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
/* Fonts */
@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat.ttf);
    font-display: swap;
}
/* Variables */
:root {
    font-size: 62.5%;
    --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-main: "Montserrat", var(--font-stack);
    --font-xxl: 3rem;
    --font-l: 1.6rem;
    --font-md: 1.4rem;
    --font-sm: 1.2rem;
    --font-xs: 1rem;
    --opacity-layer: linear-gradient(#00000033, #00000033);
    --space-l: 2em;
    --space-m: 1.5em;
    --space-sm: 1em;
    --space-xs: .5em;
    --border-radius-standard: 10px;
    --border-radius-badge: 5px;
    --brand-color: #2CC1FF;
    --brand-color-faded: #2CC1FF66;
    --error-color: #DC143C;
    --error-color-faded: #DC143C66;
}

:root.light {
    --body-image: url("./assets/images/background.webp");
    --background: #E9E5DD;
    --background-back: #D8D7D5;
    --box-shadow: 2px 2px 10px 1px #00000033;
    --box-shadow-header: 0px 0px 10px 0px #00000033;
    --box-shadow-items: 0px 0px 5px 0px #00000033;
    --text-main: #000000;
    --text-secondary: #ACAAA8;
    --icon-color: #ACAAA8;
    --toggle-color: #ACAAA8;
    --positive: #004D00;
    --neutral: #FF8000;
}

:root.dark {
    --body-image: url("./assets/images/background-dark.webp");
    --background: #161616;
    --background-back: #1F1F1F;
    --box-shadow: 2px 2px 10px 1px #00000066;
    --box-shadow-header: 0px 0px 10px 0px #000000;
    --box-shadow-items: 0px 0px 5px 0px #00000066;
    --text-main: #CECECE;
    --text-secondary: #ACAAA8;
    --icon-color: #ACAAA8;
    --toggle-color: #F2C138;
    --positive: lime;
    --neutral: #FFBB00;
}
/* Utilities */
.icon-small {
    width: 25px;
    aspect-ratio: 1;
    cursor: pointer;
}

.inactive {
    display: none;
}

::-webkit-scrollbar {
    width: 3px;
    margin-right: 4px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--brand-color-faded);
    border-radius: 3px;
}
/* Layout */
body {
    height: 100svh;
    background: var(--opacity-layer),
                var(--body-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    font-family: var(--font-main);
    display: grid;
    align-items: center;
}

.app-container {
    height: 700px;
    width: 75%;
    margin: 0 auto;
    background: var(--background);
    border-radius: var(--border-radius-standard);
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: 1fr 4fr;
}
/* Header */
header {
    box-shadow: var(--box-shadow-header);
    padding: var(--space-sm);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.logo-img {
    width: 60px;
    aspect-ratio: 1;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-options {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

#theme-button {
    background: transparent;
    border: none;
    cursor: pointer;
}
/* Navigation */
.navigation {
    display: grid;
    padding-top: var(--space-sm);
    padding-bottom: var(--space-xs);
    align-items: baseline;
    gap: 3px;
}

.nav-btn {
    font-size: var(--font-md);
    color: var(--text-main);
    background: transparent;
    border: 1px solid transparent;
    border-radius: var(--border-radius-standard);
    padding: var(--space-xs) var(--space-sm);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.nav-btn:hover {
    --icon-color: var(--brand-color);
    background: var(--brand-color-faded);
    box-shadow: var(--box-shadow-items);
}

.selected {
    --icon-color: var(--brand-color);
    background: var(--brand-color-faded);
}

.nav-divider {
    width: calc(100% - 1 * var(--space-sm));
    margin: 0 auto;
    border: none;
    border-top: 1px solid var(--text-secondary);
    margin-block: var(--space-xs);
}
/* My tasks */
.task-view-wrapper {
    padding: var(--space-sm);
}

.task-hero {
    font-size: var(--font-l);
    color: var(--text-main);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.fixed-height {
    max-height: 140px;
    overflow-y: auto;
    padding-inline-start: var(--space-m);
}

.task-element {
    width: 95%;
    font-size: var(--font-sm);
    color: var(--text-main);
    background: transparent;
    border: 1px solid transparent;
    border-radius: var(--border-radius-badge);
    text-align: start;
    line-height: 1.1;
    cursor: pointer;
    padding: 1px 2px;
}

.task-element:hover {
    background: var(--brand-color-faded);
}

.hash {
    font-size: var(--font-l);
    font-weight: 700;
}

.nav-footer {
    font-size: var(--font-l);
    color: var(--text-main);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin-top: auto;
    padding-inline: var(--space-sm);
}

.badge {
    font-size: var(--font-xs);
    line-height: 1;
    color: var(--text-secondary);
    border-radius: 10px;
    padding: var(--space-xs);
}
/* Content */
#content {
    min-height: 0;
    background: var(--background-back);
    padding: var(--space-l);
}
/* Form */
form {
    background: var(--background);
    border-radius: var(--border-radius-standard);
    padding: var(--space-l);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

h1 {
    font-size: var(--font-xxl);
    font-weight: 300;
}

label {
    font-size: var(--font-l);
    cursor: pointer;
}

.required {
    color: var(--brand-color);
}
/* Title */
.title-field {
    width: 50%;
    border: none;
    display: flex;
}

#task-title {
    font-size: var(--font-l);
    color: var(--text-main);
    background: transparent;
    border: none;
    padding-left: 10px;
}

#task-title:active,
#task-title:focus {
    border: none;
    outline: none;
}

#task-title::placeholder {
    color: var(--text-main);
}

label:hover {
    --icon-color: var(--brand-color);
}
/* Description */
.vertical-fields {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    border: none;
}

textarea {
    box-sizing: content-box;
    font-size: var(--font-md);
    color: var(--text-main);
    background-color: var(--background-back);
    border: 1px solid var(--brand-color-faded);
    height: 3lh;
    width: 50%;
    resize: none;
    padding: var(--space-sm);
}

textarea:focus,
textarea:active,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:active {
    outline: none;
}
/* Priority */
.prio-buttons {
    box-sizing: content-box;
    width: 50%;
    display: flex;
    align-items: center;
    gap: var(--space-m);
}

.radio {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 var(--space-xs);
    font-weight: 600;
    letter-spacing: -.8px;
    user-select: none;
}

.radio-btn {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.checkmark {
    position: absolute;
    background: #FFFFFF70;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.radio:hover .radio-btn ~ .checkmark,
.radio .radio-btn:checked ~ .checkmark {
    top: 0%;
    border: 1px solid transparent;
    background: transparent;
    z-index: 1;
    opacity: 1;
}

.low-badge {
    background: #374151;
    color: #D1D5DB;
    border: 1px solid #374151;
}

.normal-badge {
    background: #67E8F9;
    color: #155E9B;
    border: 1px solid #155E9B;
}

.high-badge {
    background: #CABFFD;
    color: #4A1D96;
    border: 1px solid #4A1D96;
}

.urgent-badge {
    background: #F8B4B4;
    color: #771D1D;
    border: 1px solid #771D1D;
}
/* Date */
input[type="datetime-local"] {
    box-sizing: content-box;
    width: 50%;
    font-size: var(--font-md);
    color: var(--font-main);
    letter-spacing: 1.5px;
    background: var(--background-back);
    border: 1px solid var(--brand-color-faded);
    padding: var(--space-sm);
    cursor: pointer;

    &::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }
}
/* Buttons */
.form-buttons {
    box-sizing: content-box;
    width: 50%;
    font-size: var(--font-md);
    padding: var(--space-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-l);
    
}

.form-btn {
    width: 25%;
    color: var(--text-main);
    border: 1px solid transparent;
    padding: var(--space-xs) var(--space-m);
    cursor: pointer;
    transition: .1s ease-in;
}

.clear-btn {
    background: var(--error-color-faded);
}

.submit-btn {
    background: var(--brand-color-faded);
}

.clear-btn:hover {
    background: var(--error-color);
}

.submit-btn:hover {
    background: var(--brand-color);
    color: black;
}

.selected {
    --icon-color: var(--brand-color);
    background: var(--brand-color-faded);
}
/* Single Task */
.single-task {
    background: var(--background);
    border-radius: var(--border-radius-standard);
    padding: var(--space-l);
    color: var(--text-main);
}

.single-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.single-divider {
    width: 60%;
    border: none;
    border-bottom: 1px solid var(--brand-color-faded);
    margin-block: var(--space-m);
}

.single-description {
    position: relative;
    width: 50%;
    font-size: var(--font-l);
    white-space: pre-line;
}

.single-misc {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    gap: var(--space-l);
}

.single-date {
    font-size: var(--font-md);
    font-weight: 400;
    color: var(--text-main);
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: var(--border-radius-badge);
    padding: 2px 4px;
    background: transparent;
    transition: .3s ease-in;
}

.single-date:hover {
    background: var(--brand-color-faded);
}

.today {
    color: var(--positive);
}

.rest {
    color: var(--neutral);
}

.misc-btn-container {
    margin-left: auto;
    display: flex;
    gap: var(--space-m);
}

.misc-btn,
.misc-btn-change {
    background: transparent;
    border: none;
    opacity: .7;
    transition: .1s ease-in;
}

.delete-task {
    --icon-color: var(--error-color);
}

.complete-task {
    --icon-color: var(--positive);
}

.misc-btn:hover {
    opacity: 1;
}

.misc-btn-change:hover {
    --icon-color: var(--brand-color);
    opacity: 1;
}
/* Change Task Details */
.change-container {
    width: 60%;
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.change-title {
    font-size: 3rem;
    color: var(--text-main);
    background: var(--background);
    border: 1px solid transparent;
}

.change-title:focus,
.change-title:active {
    outline: none;
}

.change-error-msg {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90px;
    position: absolute;
    font-size: var(--font-md);
    font-weight: 500;
    text-align: center;
    line-height: 1.1;
    padding: 5px;
    background: var(--error-color-faded);
    border: 1px solid var(--error-color);
}

#description-btn {
    transform: translate(-50%, -50%);
    width: 50px;
    top: calc(100% -  1.5 * var(--space-xs));
    left: 105%;
    position: absolute;
}

#task-description-change {
    font-size: var(--font-l);
    height: 6lh;
}

#desc-error-msg {
    width: 100px;
    top: 50%;
    left: 110%;
}

.change-date-input {
    display: none;
}

#date-error-msg {
    top: 50%;
    left: 110%;
}

#change-priority {
    width: 20%;
    font-size: var(--font-md);
    color: var(--font-main);
    background: var(--background);
    border: 1px solid var(--brand-color-faded);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

#change-priority:active,
#change-priority:focus {
    outline: none;
}

.change-prio-option {
    width: 100%;
    padding-block: 2px;
    padding-right: 5px;
}

.change-prio-option:hover {
    background: var(--background-back);
}

.change-prio-option:focus {
    border: 1px solid red;
}