/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
/* Fonts */
@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat.ttf);
    font-display: swap;
}
/* Variables */
:root {
    font-size: 62.5%;
    --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-main: "Montserrat", var(--font-stack);
    --font-xxl: 3rem;
    --font-l: 1.6rem;
    --font-md: 1.4rem;
    --font-sm: 1.2rem;
    --font-xs: 1rem;
    --opacity-layer: linear-gradient(#00000033, #00000033);
    --space-l: 2em;
    --space-m: 1.5em;
    --space-sm: 1em;
    --space-xs: .5em;
    --border-radius-standard: 10px;
    --brand-color-faded: #2CC1FF66;
    --brand-color: #2CC1FF;
}

:root.light {
    --body-image: url("./assets/images/background.webp");
    --background: #E9E5DD;
    --background-back: #FCFAF8;
    --box-shadow: 2px 2px 10px 1px #00000033;
    --box-shadow-header: 0px 0px 10px 0px #00000033;
    --box-shadow-items: 0px 0px 5px 0px #00000033;
    --text-main: #000000;
    --text-secondary: #ACAAA8;
    --icon-color: #ACAAA8;
    --toggle-color: #ACAAA8;
}

:root.dark {
    --body-image: url("./assets/images/background-dark.webp");
    --background: #161616;
    --background-back: #1F1F1F;
    --box-shadow: 2px 2px 10px 1px #00000066;
    --box-shadow-header: 0px 0px 10px 0px #000000;
    --box-shadow-items: 0px 0px 5px 0px #00000066;
    --text-main: #CECECE;
    --text-secondary: #ACAAA8;
    --icon-color: #ACAAA8;
    --toggle-color: #F2C138;
}
/* Utilities */
.icon-small {
    width: 25px;
    aspect-ratio: 1;
    cursor: pointer;
}

.inactive {
    display: none;
}

::-webkit-scrollbar {
    width: 3px;
    margin-right: 4px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--brand-color-faded);
    border-radius: 3px;
}
/* Layout */
body {
    height: 100svh;
    background: var(--opacity-layer),
                var(--body-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    font-family: var(--font-main);
    display: grid;
    align-items: center;
}

.app-container {
    height: 700px;
    width: 75%;
    margin: 0 auto;
    background: var(--background);
    border-radius: var(--border-radius-standard);
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: 1fr 4fr;
}
/* Header */
header {
    box-shadow: var(--box-shadow-header);
    padding: var(--space-sm);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.logo-img {
    width: 60px;
    aspect-ratio: 1;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-options {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

#theme-button {
    background: transparent;
    border: none;
    cursor: pointer;
}
/* Navigation */
.navigation {
    display: grid;
    padding-top: var(--space-sm);
    padding-bottom: var(--space-xs);
    align-items: baseline;
    gap: 3px;
}

.nav-btn {
    font-size: var(--font-md);
    color: var(--text-main);
    background: transparent;
    border: 1px solid transparent;
    border-radius: var(--border-radius-standard);
    padding: var(--space-xs) var(--space-sm);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.nav-btn:hover {
    --icon-color: var(--brand-color);
    background: var(--brand-color-faded);
    box-shadow: var(--box-shadow-items);
}

.selected {
    --icon-color: var(--brand-color);
    background: var(--brand-color-faded);
}

.nav-divider {
    width: calc(100% - 1 * var(--space-sm));
    margin: 0 auto;
    border: none;
    border-top: 1px solid var(--text-secondary);
    margin-block: var(--space-xs);
}
/* My tasks */
.task-view-wrapper {
    padding: var(--space-sm);
}

.task-hero {
    font-size: var(--font-l);
    color: var(--text-main);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.fixed-height {
    max-height: 140px;
    overflow-y: auto;
}

.nav-footer {
    font-size: var(--font-l);
    color: var(--text-main);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin-top: auto;
    padding-inline: var(--space-sm);
}

.badge {
    font-size: var(--font-xs);
    line-height: 1;
    color: var(--text-secondary);
    border-radius: 10px;
    padding: var(--space-xs);
}
/* Content */
#content {
    min-height: 0;
    background: var(--background-back);
    padding: var(--space-l);
}
/* Form */
form {
    background: var(--background);
    border-radius: var(--border-radius-standard);
    padding: var(--space-l);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

h1 {
    font-size: var(--font-xxl);
    font-weight: 300;
}

label {
    font-size: var(--font-l);
    cursor: pointer;
}

.required {
    color: var(--brand-color);
}
/* Title */
.title-field {
    width: 50%;
    border: none;
    display: flex;
}

#task-title {
    font-size: var(--font-l);
    color: var(--text-main);
    background: transparent;
    border: none;
}

#task-title:active,
#task-title:focus {
    border: none;
    outline: none;
}

#task-title::placeholder {
    color: var(--text-main);
}

label:hover {
    --icon-color: var(--brand-color);
}
/* Description */
.vertical-fields {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    border: none;
}

textarea {
    box-sizing: content-box;
    font-size: var(--font-md);
    color: var(--text-main);
    background-color: var(--background-back);
    border: 1px solid var(--brand-color-faded);
    height: 3lh;
    resize: none;
    padding: var(--space-sm);
}

textarea:focus,
textarea:active {
    outline: none;
}
/* Priority */
